
.content_container {
	margin: 70px 150px;
}

.content_container ul {
	list-style: none;
}

.notice-list {
	padding: 30px;
	width: 1000px;
	height: auto;
	border: 1px solid grey;
	border-radius: 10px;
	display: flex;
}

.notice-list img {
	width: 250px;
	height: 300px;
	margin-right: 50px;
	position: relative;
}

.notice-list .notice_content {
	margin: auto 0;
}

.notice-list h3 {
	font-size: 25px;
	font-weight: 800;
	padding-bottom: 15px;
	border-bottom: 1px solid grey;
	
}

.notice-list p {
	font-size: 17px;
}